body {
  background-color: #fff5f8;
  font-family: 'Segoe UI', sans-serif;
}

.navbar {
  background-color: #f06292; /* pink pastel */
}

.navbar-brand {
  font-weight: bold;
  color: #fff;
}

h2 {
  color: #d81b60;
}

.btn-primary {
  background-color: #f06292;
  border: none;
}

.btn-success {
  background-color: #81c784;
  border: none;
}

.table th {
  background-color: #f8bbd0;
}
