@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background:#fff8f8;
    font-family:'Poppins',sans-serif;
}

.stat-card{
    border:none;
    border-radius:20px;
    padding:20px;
    box-shadow:0 4px 15px rgba(0,0,0,.05);
}

.icon{
    width:60px;
    height:60px;
    border-radius:15px;
    display:flex;
    align-items:center;
    justify-content:center;
    margin-right:15px;
    font-size:25px;
}

.yellow{
    background:#fff0c2;
}

.blue{
    background:#dcecff;
}

.pink{
    background:#ffd8e7;
}

.green{
    background:#daf7df;
}

.btn-export{
    background:#f24d7c;
    color:white;
    border:none;
}

.btn-detail{
    background:#ff4d88;
    color:white;
}

.btn-status{
    background:#d61c59;
    color:white;
}

/* Jangan gunakan height: auto secara global pada img */
img {
    max-width: 100%;
    display: block;
}

.grid {
    width: 100%;
}

/* Biarkan class Tailwind yang mengatur ukuran gambar */
.product-img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    background-color: #ffffff;
    display: block;
}
    .product-card {
    background: white;
    border-radius: 1rem;
    padding: 1rem;
    border: 1px solid #fecdd3; /* Border warna rose-200 */
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.product-card:hover {
    transform: translateY(-5px);
}

/* Memastikan gambar selalu berada di tengah dan proporsional */
.object-cover {
    object-fit: cover;
    width: 100%;
    height: 100%;
}